<div x-data="{ expanded: false }" @click="() => expanded = !expanded" class="cursor-pointer">
  <div class="h-full bg-card border border-white/5 rounded-lg text-t-primary">
    <div class="flex-1 text-left p-4">
      <div class="flex justify-between items-end mb-2">
        <div class="flex gap-1">
          {% for i in range(0, feedback.rating) %}
          <span class="text-accent-500">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
              <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
          </svg>
          </span>
          {% endfor %}
          {% for i in range(0, 5 - feedback.rating) %}
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
          </svg>
          {% endfor %}
        </div>
        <span class="text-xs text-t-primary/80">{{ feedback.created_at | formatDate }}</span>
      </div>
      <p class="text-sm text-t-primary/90 break-words truncate" :class="{ 'truncate': !expanded }">
        {{ feedback.message }}
      </p>
      {% if feedback.reply %}
      <div class="mt-4 bg-[rgba(255,255,255,0.05)] p-4 rounded-lg">
        <p class="pl-2 text-sm text-t-primary/70 border-l-2 border-accent-500 break-words truncate" :class="{ 'truncate': !expanded }">
          {{ feedback.reply }}
        </p>
        <p class="text-xs text-right text-t-primary/60 mt-2">
          Reply from <span class="text-accent-500">{{ shop.name }}</span> at {{ feedback.replied_at | formatDate }}
        </p>
      </div>
      {% endif %}
    </div>
  </div>
</div>