<a href="{{ ('/product/' + product.path) | shopUrl }}" class="flex justify-between items-center bg-card border border-white/5 rounded-lg text-t-primary p-4 lg:p-6">
  <h2 class="flex-1 truncate text-base font-semibold md:text-lg">{{ product.name }}</h2>
  <div class="flex items-center gap-4 status" data-color="{{ product.status_color }}" data-label="{{ product.status_text }}">
    <div class="relative size-4 rounded-full" style="background-color: {{ product.status_color }}">
      <div class="pulsating" style="background-color: {{ product.status_color }}"></div>
    </div>
    <span class="text-sm text-t-primary/80 font-bold md:text-base" style="color: {{ product.status_color }}">
      {{ product.status_text }}
    </span>
  </div>
</a>