<section
  id="products"
  class="component"
  data-component-id="{{ componentId }}"
  x-data="{
    searchTerm: '',
    openGroupModalId: null,
    openGroupModal(id) {
      this.openGroupModalId = id;
      document.body.style.overflow = 'hidden';
    },
    closeGroupModal() {
      this.openGroupModalId = null;
      document.body.style.overflow = 'auto';
    }
  }">
  <div class="py-6 lg:py-8">
    {% if properties.title %}
      <h2 class="mb-4 text-t-primary text-2xl font-bold pl-2 border-l-4 border-l-accent-500">
        {{ properties.title | renderString }}
      </h2>
    {% endif %}

    {% if properties.show_searchbar %}
      <div class="mb-4">
        <div class="w-full flex items-center gap-4 px-4 py-2.5 bg-card border border-white/5 rounded-lg text-t-primary/50 text-sm focus-within:border-accent-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-t-primary/50">
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
          <input
            x-model="searchTerm"
            type="text"
            class="w-full bg-transparent focus:outline-none"
            placeholder="Search for products..."
          />
        </div>
      </div>
    {% endif %}

    <div class="w-full grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">
      {% if properties.ids|length == 0 %}
        {% for product in sortedItems %}
          {% if product.type == 'group' or not product.group_id %}
            <div x-show="searchTerm == '' || '{{ product.name | lower }}'.includes(searchTerm.toLowerCase())">
              {% render_snippet "product-card.njk", product=product %}
            </div>
          {% endif %}
        {% endfor %}
      {% else %}
        {% for product in helpers.components.products.getItemsByIds(sortedItems, properties.ids) %}
          <div x-show="searchTerm == '' || '{{ product.name | lower }}'.includes(searchTerm.toLowerCase())">
            {% render_snippet "product-card.njk", product=product %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  {% for product in sortedItems %}
    {% if product.type == 'group' %}
      <div x-show="openGroupModalId == '{{ product.id }}'" class="fixed inset-0 z-50 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-center justify-center min-h-screen px-4 text-center">
            <div x-cloak @click="closeGroupModal" x-show="openGroupModalId == '{{ product.id }}'" 
              x-transition:enter="transition ease-out duration-300 transform"
              x-transition:enter-start="opacity-0" 
              x-transition:enter-end="opacity-100"
              x-transition:leave="transition ease-in duration-200 transform"
              x-transition:leave-start="opacity-100" 
              x-transition:leave-end="opacity-0"
              class="fixed inset-0 transition-opacity bg-black/75" aria-hidden="true"
            ></div>

            <div x-cloak x-show="openGroupModalId == '{{ product.id }}'" 
              x-transition:enter="transition ease-out duration-300 transform"
              x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" 
              x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
              x-transition:leave="transition ease-in duration-200 transform"
              x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100" 
              x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              class="inline-block w-full max-w-[76rem] transition-all transform"
            >
              <div class="overflow-hidden text-t-primary text-left border border-white/5 rounded-lg bg-background p-4 md:p-6">
                <div class="flex items-start justify-between gap-4 mb-4 sm:mb-8">
                  <h3 class="text-xl font-bold truncate">
                    {{ product.name }}
                  </h3>

                  <button @click="closeGroupModal" class="text-t-primary focus:outline-none hover:text-accent">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7 text-t-primary/50 hover:text-accent-500">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>

                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">
                  {% for product in product.products %}
                    {% render_snippet "product-card.njk", product=product %}
                  {% endfor %}
                </div>
              </div>
            </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</section>