{% if properties.items_per_row == 1 %}
  {% set gridClass = 'grid-cols-1' %}
{% elseif properties.items_per_row == 2 %}
  {% set gridClass = 'grid-cols-1 md:grid-cols-2' %}
{% elseif properties.items_per_row == 3 %}
  {% set gridClass = 'grid-cols-1 md:grid-cols-3' %}
{% elseif properties.items_per_row == 4 %}
  {% set gridClass = 'grid-cols-1 md:grid-cols-2 lg:grid-cols-4' %}
{% endif %}

{% set aspectClassMap = {
  '': 'aspect-video',
  '16/9': 'aspect-video',
  '9/16': 'aspect-[9/16]'
} %}

<section id="{{ componentId }}" class="component" data-component-id="{{ componentId }}">
  <div class="py-6 lg:py-8">
    {% if properties.title %}
      <div class="mb-4 {{ titleAlignClass }}">
        <h2 class="inline text-t-primary text-2xl font-bold pl-2 border-l-4 border-l-accent-500">
          {{ properties.title | renderString }}
        </h2>
      </div>
    {% endif %}

    <div class="grid gap-4 {{ gridClass }}">
      {% for video in properties.videos %}
      {% set aspectClass = aspectClassMap[video.aspect_ratio] %}
      {% if not video.aspect_ratio|length %}
      {% set aspectClass = aspectClassMap[''] %}
      {% endif %}
      <div class="flex justify-center {{ aspectClass }}">
        <lite-youtube videoid="{{ video.link | ytEmbedVideoId }}" class="rounded-lg {{ aspectClass }}"></lite-youtube>
      </div>
      {% endfor %}
    </div>
  </div>
</section>